@{
    ViewData["Title"] = "Game";
}

<nav>
    <div class="row" id="turn-ctr">
        <span class="col-md-6 col-sm-8" id="current-turn-lbl"></span>
        <button class="col-md-6 col-sm-4" id="change-turn-btn">End turn</button>
    </div>
</nav>
<div class="container" id="game-board-ctr">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div role="status" class="sr-only" id="text-log">

</div>

@section Scripts
{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/underscore/underscore.js"></script>
    <script src="~/js/underscore.mixins.js"></script>
    <script src="~/js/game.js"></script>
}