@{
    ViewData["Title"] = "Game";
}

<div class="row" id="turn-ctr">
    <span class="col-md-6 col-sm-8" id="current-turn-lbl"></span>
    <button class="col-md-6 col-sm-4" id="change-turn-btn">End turn</button>
</div>

<div class="row" id="spymaster-ctr">
    <button class="btn btn-primary col-4 offset-8" id="spymaster-btn" onclick="onSpymasterButtonClicked()">Make me a spymaster</button>
</div>

<div class="spymaster-only row" id="filter-ctr">
    <span>Filters: </span>
    <button class="btn" onclick="onFilterClicked(this)" data-id="all">Show all</button>
    <button class="btn" onclick="onFilterClicked(this)" data-id="red">Show red</button>
    <button class="btn" onclick="onFilterClicked(this)" data-id="blue">Show blue</button>
</div>

<div class="container-fluid my-3 overflow-auto" id="game-board-ctr">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div role="status" class="sr-only" id="text-log">

</div>

@section Scripts
{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/underscore/underscore.js"></script>
    <script src="~/js/underscore.mixins.js"></script>
    <script src="~/js/game.js"></script>
    <link rel="stylesheet" href="~/css/game.css" />
}