@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>
    This is my accessible adaptation of the boardgame Codenames, which itself was ported to an electronic version, here at <a href="https://www.horsepaste.com/">https://www.horsepaste.com/</a>. This would have been good enough on its own, but this port is inaccessible. With the outbreak of the Covid19 outbreak and more online games being used as a way of getting together and having fun, this saw quite the surge in popularity, and its lack of accessibility then became a problem. This inspired me to write my own.
</p>
<p>
    This has largely been done for educational purposes and is not being done for profit, fame or feminin attention.
</p>