#game-board-ctr {
    height: 60vh;
}

.word .btn {
    font-size: 1.5rem;
}

.word .red, #scores-ctr .red {
    background-color: #ff6347;
}

.word .blue, #scores-ctr .blue {
    background-color: #87CEEB;
}

.word .assassin {
    background-color: black;
    color: white;
}

.word .revealed {
    font-weight: bold;
    text-decoration: line-through;
}

.spymaster-only {
    visibility: hidden;
}

.spymaster .spymaster-only {
    visibility: visible;
}

.spymaster #spymaster-btn {
    visibility: hidden;
}