#game-board-ctr {
    height: 75vh;
}

.word .red {
    background-color: #ff8888;
}

.word .blue {
    background-color: #8888ff;
}

.word .assassin {
    background-color: black;
    color: white;
}

.word .revealed {
    font-weight: bold;
    text-decoration: line-through;
}

.spymaster-only {
    visibility: hidden;
}

.spymaster .spymaster-only {
    visibility: visible;
}

.spymaster #spymaster-ctr {
    visibility: hidden;
}