#game-board-ctr {
    height: 60vh;
}

.word .btn {
    font-size: 1.5rem;
}

.word .red, #scores-ctr .red {
    background-color: #ff6347;
}

.word .blue, #scores-ctr .blue {
    background-color: #87CEEB;
}

.word .assassin {
    background-color: black;
    color: white;
}

@keyframes iDisappear {
    to {
        transform: translate(90vw);
    }
}

.word .revealed {
    z-index: 10;
    font-weight: bold;
    text-decoration: line-through;
    
    animation-delay: 5s;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-name: iDisappear;
    animation-iteration-count: 1;
}

.word .revealed.assassin {
    animation: none;
}

.spymaster-only {
    visibility: hidden;
}

.spymaster .spymaster-only {
    visibility: visible;
}

.spymaster #spymaster-btn {
    visibility: hidden;
}